.history-right-column{
    background-color: #fff;
    height: 566px;
}
.list-group-item.active{
    background-color: cadetblue;
    border-color: cadetblue;
}
time{
    bottom: 7px;
    left: 29px;
}
.history-page .remove{
    position: absolute;
    top: 10px;
    right: 13px;
    right: 13px;
    color: #2c3131c7;
    cursor: pointer;
}

@media (min-witdh:768px) and (max-witdh:1199px){
    .card .card-horizontal .card-body .channel-img{
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img{
        margin-right: 0px !important;
    }
    h4{
        overflow: hidden !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
    }
}
@media (max-witdh:991px){
    .card{
        margin-top: 30px;
    }
}
@media (max-witdh:767px)  {
    .card .card-body-image{
        width: 100%;
    }
    .card .card-horizontal time{
        left: 10px;
    }
    .card .card-horizontal .fa-play{
        right: 48%;
    }
}